#include "ScapeVersion.h"

IDI_ICON1               ICON    DISCARDABLE     "editor.ico"

1 VERSIONINFO
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "Scape Terrain Editor"
      VALUE "ProductName", "Scape"
      VALUE "ProductVersion", SCAPE_VERSION_NAME
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
